.btncls {
    background-color:#6D7AE0;
    color: white;
    padding: 1px;
    text-align: center;
    font-size: 16px;
    margin: 1px 260px;
    margin-bottom: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 8%;
    padding-right: 1px;
    position: fixed;
    left: 870px;
    top: 130px;
    border: none;
}

.searchbtn {
    background-color:#6D7AE0;
    color: white;
    position:absolute;
    left: 207px;
    width: 5%;
    margin: 15px;
    margin: 10px 130px;
    border: none;
    padding: 3px;
}

.textboxx {
    margin: 10px 1px;
    padding-right: 21px;
}