.Active {
  color:green;
}
.Inactive {
  color: crimson;
}
.addbtnnActive {
  background-color: #ffffff;
  color: #0a7a06;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: none;
}
  .table-styleee {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px; /* rows only */
    background-color: rgb(255, 255, 255);
    line-height: 25px;
    border: 1px solid #ddd;
    box-shadow: 2px 5px #afaeae;
    
}

th {
  background-color: #6D7AE0;
  color: rgb(243, 239, 239);
  width: 600px; 
  height: 40px;
  font-size: 18px; /*th heading*/
  position: sticky;
  top: 0;
}
.expand-maximum-on-hover {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap; 
  width: 500px; 
}
.expand {
  table-layout: fixed;
}

tr:nth-child(even) {background-color: #f2f0f7;
  line-height: 23px;}
.ttable {
  /* overflow-y:scroll; */
  /* height: 430px;
  overflow: auto; */
  position:relative;
  margin-bottom: 1px 0px;
  border-radius: 12px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 40px;
}
 
::-webkit-scrollbar-thumb {
  background: #62636b; 
  border-radius: 40px;
  height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525261; 
}

.FontAwesomeIcon {
  color: #0075c4;
}

.paginationbtn {
  margin: 10px;
  margin-left: 1px;
  /* border-radius: 50%; */
  border:none;
  color: #06168f;
  background-color: #d4d5e2;
}

