.addbtnn {
  background-color: #299c1a;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
  .table-styleee {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 17px; /* rows only */
    background-color: rgb(255, 255, 255);
    line-height: 20px;
}
/* .table-style-001 {
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
} */

th {
  background-color: rgb(90, 90, 252);
  color: rgb(243, 239, 239);
  width: 600px; 
  height: 50px;
  font-size: 20px; /*th heading*/
  position: sticky;
  top: 0;
}
.expand-maximum-on-hover {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap; 
  width: 500px; 
}

tr:nth-child(even) {background-color: #f2f0f7;}
.ttable {
  overflow-y:scroll;
  height: 400px;
  position:relative;
}