/* .addbtnn {
  background-color: #ffffff;
  color: #6D7AE0;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: none;
} */
.Active {
  color:green;
}
.Inactive {
  color: crimson;
}
.addbtnnActive {
  background-color: #ffffff;
  color: #0a7a06;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: none;
}
  .table-styleee {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px; /* rows only */
    background-color: rgb(255, 255, 255);
    line-height: 20px;
}

th {
  background-color: #6D7AE0;
  color: rgb(243, 239, 239);
  width: 600px; 
  height: 40px;
  font-size: 18px; /*th heading*/
  position: sticky;
  top: 0;
}
.expand-maximum-on-hover {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap; 
  width: 500px; 
}
.expand {
  /* text-overflow: ellipsis; */
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal; 
  width: 200px; 
}

tr:nth-child(even) {background-color: #f2f0f7;}
.ttable {
  overflow-y:scroll;
  height: 430px;
  position:relative;
  margin-bottom: 1px 0px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 40px;
}
 
::-webkit-scrollbar-thumb {
  background: #62636b; 
  border-radius: 40px;
  height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525261; 
}