.btnn {
    background-color: #fffdfd;
    color: #000000;
    padding: 7px;
    text-align: center;
    font-size: 18px;
    margin: 4px 50px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table-style {
    border-collapse: collapse;
    width: 70%;
    padding: 8px;
    margin: 40px 155px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; /*row*/
    text-align: center;
    background-color: rgb(255, 255, 255);
    line-height: 10px;
}

.btn01 {
    width: 100%;
    background-color: #6D7AE0;
    color: white;
    padding: 10px 50px;
    margin: 2px 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}