.congrats {
	font-size: 45px;
	text-align: center;
    font-family: Cavolini;
    color: darkred;
    padding: 10px 150px;
    margin: 100px 150px ;
    background-size:cover;
    background-color: rgb(245, 239, 239);
    width: 70%;
}