.congrats {
	font-size: 70px;
	text-align: center;
    font-family: Brush Script MT;
    color: darkred;
    padding: 5px 100px;
    margin: 50px 150px ;
    background-size:cover;
    background-color: rgb(247, 242, 242);
    width: 70%;
}

.winner {
    font-family: Bernard MT Condensed;
    color: rgb(71, 15, 15);
    font-size: 80px;
}